body {
  background-color: none;
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 100%;
  width:100%;
  z-index: 10;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  background-color: #90EE90;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

nav h1 {
  color: black;
  font-family: "Press Start 2P", cursive;
  font-size: 36px;
  font-weight: bold;
  -webkit-text-stroke-color: #90EE90;
  margin: 0;
  padding: 0;
}

#about {
  background-color: #90EE90;
  color: black;
  text-align: center;
  width: 45%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: 80px;

}

#about h2 {
  margin-bottom: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  font-weight: bold;
}

#about p {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}


#games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0;
  margin-top: 50px;
  padding-top: 50px;
}


.game {
  background-color: #90EE90;
  color: black;
  text-align: center;
  width: calc(30%);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.game h2 {
  margin-bottom: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.game p {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.game a {
  display: block;
  background-color: black;
  color: #90EE90;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 20px;
}

  .game a {
    display: block;
    background-color: black;
    color: #90EE90; /* Lighter green color */
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .game a:hover {
    background-color: white; /* Lighter green color */
    color: #333;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  }